@page "/"

<PageTitle>Connect Four</PageTitle>

<h1>Connect Four</h1>

<Board @rendermode="InteractiveServer"
       BoardColor="System.Drawing.Color.Gold"
       Player1Color="System.Drawing.Color.Red"
       Player2Color="System.Drawing.Color.RoyalBlue" />
